<div class="row">
    <!-- Header starts -->
    <nav class="navbar col-12 navbar-expand ">
        <!-- <button class="menu-btn btn btn-link btn-sm" type="button" (click)="toggleSidebar()">
            <i class="material-icons">menu</i>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- search starts -->
            <!-- <form class="form-inline search mr-auto">
                <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-link btn-sm" type="submit"><i class="material-icons">search</i></button>
            </form> -->
            <!-- search ends -->

            <div class="nav-item ml-auto mr-auto"><h4 class="mb-0 pt-30">Graph BTC</h4></div>

            <!-- icons dropwdowns starts -->
            <!-- <ul class=>"navbar-nav ml-auto"> -->
            <!-- </ul> -->
            <!-- icons dropwdowns starts -->
        </div>
    </nav>
    <!-- Header ends -->
</div>
