<div class="row">
        <!-- Submenu section starts -->
        <nav class="navbar col-12 ">
            <div class="dropdown mr-auto d-flex d-sm-none">
            </div>
            <!-- <form class="form-inline ml-auto ml-sm-3">
                <div id="daterangeadminux" class="form-control form-control-sm">
                    <span></span>
                    <i class="material-icons avatar avatar-26 text-template-primary cal-icon">event</i>
                </div>
            </form> -->
        </nav>
        <!-- Submenu section ends -->
    </div>
