<div class="row">
        <!-- Submenu section starts -->
        <nav class="navbar col-12 ">
            <div class="dropdown mr-auto d-flex d-sm-none">
                <button class="btn dropdown-toggle btn-sm btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dashboard
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)">Dashboard</a>
                    <a class="dropdown-item" href="javascript:void(0)">Featured</a>
                    <a class="dropdown-item" href="javascript:void(0)">popular</a>
                </div>
            </div>
            <ul class="nav nav-pills mr-auto d-none d-sm-flex">
                <li class="nav-item ">
                    <a class="nav-link active" href="javascript:void(0)">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Featured</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">popular</a>
                </li>
            </ul>
            <ul class="nav nav-pills ml-auto d-none d-xl-flex">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">This week</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">This Month</a>
                </li>
            </ul>
            <!-- <form class="form-inline ml-auto ml-sm-3">
                <div id="daterangeadminux" class="form-control form-control-sm">
                    <span></span>
                    <i class="material-icons avatar avatar-26 text-template-primary cal-icon">event</i>
                </div>
            </form> -->
        </nav>
        <!-- Submenu section ends -->
    </div>