<div class="login-page" [@routerTransition]>
    <div class="wrapper">
        <div class="content shadow-sm position-relative">
            <header class="header">
                <!-- Fixed navbar -->
                <nav class="container-fluid">
                    <div class="row">
                        <div class="col align-self-center">
                            <a href="" class="logo text-white">
                                <img src="assets/images/logoicon.svg" alt="" class="logo-icon" />
                                <div class="logo-text">
                                    <h5 class="fs22 mb-0">AdminUX <sup class="badge badge-danger">PRO</sup></h5>
                                    <p class="text-uppercase fs11">Admin Dashboard</p>
                                </div>
                            </a>
                        </div>
                        <div class="col text-right align-self-center">
                            <a [routerLink]="['/login']" class="btn btn-sm btn-primary text-uppercase">Login</a>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="background opac" style="background-image: url('assets/images/happy-faces.jpg');">
            </div>

            <!-- Main container starts -->
            <div class="container main-container" id="main-container">
                <div class="row login-row-height">
                    <div class="col-12 col-md-6 col-lg-7 d-none d-md-flex"></div>
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4  align-self-center">
                        <div class="card border-0 shadow-lg blur">
                            <div class="card-body py-5">
                                <h5 class="font-weight-light mb-1 text-mute-high">We are AdminuxPRO,</h5>
                                <h3 class="font-weight-normal mb-4">Sign Up with us</h3>
                                <div class="card  mb-2 overflow-hidden">
                                    <div class="card-body p-0">
                                        <label for="inputEmail" class="sr-only">Email address</label>
                                        <input
                                            type="email"
                                            id="inputEmail"
                                            class="form-control rounded-0 border-0"
                                            placeholder="{{ 'Email' | translate }}"
                                            required=""
                                            autofocus=""
                                        />
                                        <hr class="my-0" />
                                        <label for="inputPassword" class="sr-only">Password</label>
                                        <input
                                            type="password"
                                            id="inputPassword"
                                            class="form-control rounded-0 border-0"
                                            placeholder="{{ 'Password' | translate }}"
                                            required=""
                                        />
                                        <hr class="my-0" />
                                        <label for="inputPasswordconfirm" class="sr-only">Confirm Password</label>
                                        <input
                                            type="password"
                                            id="inputPasswordconfirm"
                                            class="form-control rounded-0 border-0"
                                            placeholder="{{ 'Repeat Password' | translate }}"
                                            required=""
                                        />
                                    </div>
                                </div>
                                <div class="my-3 row">
                                    <div class="col-12 py-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1" checked="" />
                                            <label class="custom-control-label" for="customCheck1">Agree to the terms and condition</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-left mb-4">
                                    <a [routerLink]="['/dashboard']" class=" btn btn-primary btn-block"
                                        >Sign Up <i class="material-icons md-18">arrow_forward</i></a
                                    >
                                </div>

                                <div class="">
                                    <p class="text-mute">
                                        Already have account?<br />
                                        Please <a [routerLink]="['/login']" class="template-primary">Sign In</a> here.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main container ends -->
        </div>
        <footer class="footer d-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md text-center text-md-left align-self-center">
                        <p>All rights reserved by <a href="">Maxartkiller</a></p>
                    </div>
                    <div class="col-12 col-md-auto text-center text-md-right">
                        <ul class="nav justify-content-center justify-md-content-end">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Terms of use</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Privacy Policy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contactus.html">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
