<!-- Logo sidebar -->
<a routerLink="/dashboard" class="logo">
    <img src="assets/images/logo_pfp.png" style="max-width:50px" alt="" class="logo-icon mt-1">
    <div class="logo-text">
        <h5 class="fs22 mb-0">GraphBTC<sup class="badge badge-danger"></sup></h5>
        <p class="fs11">Let's rewrite our economy. <br/>Together.</p>
    </div>
</a>
<!-- Logo sidebar ends -->

<!-- Navigation menu sidebar-->
<ul class="nav flex-column">
    <li class="nav-item dropdown">
      <div class="nav-link" routerLink="/shop"  [routerLinkActive]="['active']"><i class="material-icons icon">shop</i><a><span>Shop</span></a></div>
    </li>
    <li class="nav-item dropdown">
      <div class="nav-link" routerLink="/dashboard"  [routerLinkActive]="['active']"><i class="material-icons icon">dashboard</i><a><span>Dashboard</span></a></div>
    </li>
<!-- Navigation menu sidebar ends -->
<br>
